.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: 'Oswald', sans-serif;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 100px;
  width: 460px;
  border: 15px solid white;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

.Background {
  background-color: rgba(0, 0, 0,);
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 40px;
}